body{font-family: sans-serif,serif,tahoma;  width: 100%; height: 100%; background-color: darkcyan; margin: 0; padding: 0;}
header{width: 100%; height: 5em; display: flex; background-color: lightblue; margin: 0 auto; padding: 0; align-items: center; white-space: nowrap; border-bottom: 0.2em solid darkblue;}
header img{ width: 10em; height: 5.2em; margin-right: 5em; border-right: 0.2em solid darkblue;}
h1{ font-size: 2.5em; text-transform: uppercase; color: darkblue; margin: 0 5em;}
p{text-align: center; font-size: 2em; font-weight: bold; color: darkblue;}
.welcome{width: 30%; height: 3em; background-color: lightblue; border-radius: 1em; white-space: nowrap; display: flex; align-items: center; justify-content: center; margin: 2em auto;}
.gallery{ width: 92%; height: 100%; background-color: lightblue; border-radius: 1em; border: 0.2em solid darkblue; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: center; margin: 0 auto; padding: 0 auto; column-gap: 0.5em;}
.gallery img{ width: 25em; height: 24em; border-radius: 1em; margin: 1em 0;}
footer{width: 100%; height: 5em; display: flex; background-color: lightblue; margin: 0; padding: 0; align-items: center; white-space: nowrap;}
footer h3,address{margin-left: 1em; color: darkblue; font-weight: lighter; font-size: 0.8em; }
address{ margin-left: 5em; margin-right: 6.5em;}
footer img{ width: 2em; height: 2em; border-radius: 0.5em;}
.footer-img,.tell{ margin-right: 9em;}
.footer-head p{ margin: 1em 6em; font-size: 1em;}
.head-about p{ margin-right: 2em;}
.footer-head{ display: flex; justify-content: space-between; background-color: lightblue; width: 100%; border-top: 0.2em solid darkblue; margin-top: 5em;}
a{ color: darkblue;}
h3 a{ margin: 0 auto;}
.homepage{ width: 12%; height: 3em; background-color: lightblue; font-size: 0.5em; margin-left: 6.5em; border-radius: 1em; border: 0.3em solid darkblue; margin-top: 3em; display: flex; justify-content: center; align-items: center;}
a{ color: darkblue; margin: 0 0.5em; text-decoration: none;}
a:hover{ color: darkturquoise;}